langchain-community==0.3.14
langchain-openai==0.2.14
langchain-qdrant>=0.2.0
langgraph==0.2.61
unstructured>=0.14.8
langchain-anthropic==0.3.7
pyairtable>=2.3.0
ragas==0.2.10

# Presidio: https://huggingface.co/spaces/presidio/presidio_demo/blob/main/requirements.txt
# presidio-analyzer[transformers]
# presidio-analyzer[stanza]
# presidio-anonymizer
# streamlit
# streamlit-tags
# pandas
# python-dotenv
# st-annotated-text
# torch
# flair
# openai
# azure-ai-textanalytics